<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Sinatra Coffee-Script Template</title>
</head>
<body>
  <%= yield %>
  <script src="/javascripts/hello.js" type="text/javascript"></script>
</body>
</html>
